.home-content {
	padding: 60px 20px;
}

.home-grid {
	height: 800px;
	width: 800px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	z-index: 100;

}

.diamond {
	width: 90px;
	height: 90px;
	background-color: rgba(255, 255, 255, 0.4);
	// transform: rotate(45deg);
	display: inline-block;
	vertical-align: top;
}

.diamond1 {
	position: relative;
	top: 5%;
	left: 30%;
}

.diamond2 {
	position: relative;
	top: 14%;
	left: 27%;
}

.diamond3 {
	position: absolute;
	top: 42%;
	left: 48%;
}

.diamond4 {
	position: absolute;
	top: 51%;
	left: 39%;
}

.diamond5 {
	position: absolute;
	top: 60%;
	left: 30%;
}

.diamond-big {
	width: 200px;
	height: 200px;
	background-color: rgba(255, 255, 255, 0.6);
	// transform: rotate(45deg);
	display: inline-block;
	vertical-align: top;
}

.diamond-big1 {
	position: relative;
	top: 16%;
	left: 27%;
	z-index: 0;
	overflow: hidden;
}

.diamond-big2 {
	position: relative;
	top: 26%;
	left: -26%;
}

.diamond-big3 {
	position: relative;
	top: 53%;
	left: -24%;
}

.diamond-big4 {
	position: relative;
	top: 47%;
	left: -6%;
}